<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../script.js"></script>
  <title>WELCOME</title>
</head>

<body>
  <div class="welcome">
    <h1>welcome, {{ name }}</h1>
  </div>
  <form action="/signout">
    <div class="logout">
      <button>log out</button>
    </div>
  </form>
  <div class="searchBox">
    <div>
      <div>查詢會員姓名：</div>
      <input type="text" id="getUsername">
      <button onclick="searchUsername()">查詢</button>
      <div id="showUsername"></div>
    </div>
  </div>

</body>

</html>